<footer class="tf-footer style-color-white bg-black">
    <div class="footer-body">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb_30 mb-xl-0">
                    <div>
                        <p class="footer-heading">Contact us</p>
                        <div class="tf-collapse-content">
                            <ul class="footer-contact">
                                <li>
                                    <i class="icon icon-map-pin"></i>
                                    <span class="br-line"></span>
                                    <a href="https://www.google.com/maps?q=8500+Lorem+Street+Chicago,+IL+55030+Dolor+sit+amet"
                                        target="_blank" class="h6 link">
                                        8500 Lorem Street Chicago, IL 55030 <br class="d-none d-lg-block"> Dolor
                                        sit amet
                                    </a>
                                </li>
                                <li>
                                    <i class="icon icon-phone"></i>
                                    <span class="br-line"></span>
                                    <a href="tel:+88001234567" class="h6 link">+8(800) 123 4567</a>
                                </li>
                                <li>
                                    <i class="icon icon-envelope-simple"></i>
                                    <span class="br-line"></span>
                                    <a href="mailto:themesflat@support.com" class="h6 link">themesflat@support.com</a>
                                </li>
                            </ul>
                            <div class="social-wrap">
                                <ul class="tf-social-icon style-2">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank" class="social-facebook">
                                            <span class="icon"><i class="icon-fb"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank" class="social-instagram">
                                            <span class="icon"><i class="icon-instagram-logo"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://x.com/" target="_blank" class="social-x">
                                            <span class="icon"><img width="45%;" src="./icon/line.png"
                                                    alt="icon"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.tiktok.com/" target="_blank" class="social-tiktok">
                                            <span class="icon"><i class="icon-tiktok"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-sm-6 mb_30 mb-xl-0">
                    <div class="">
                        <p class="footer-heading">歐氣啟動總部</p>
                        <div class="tf-collapse-content">
                            <ul class="footer-menu-list class">
                                <li><a href="javascript:void(0)" class="link h6">航海王</a></li>
                                <li><a href="javascript:void(0)" class="link h6">七龍珠</a></li>
                                <li><a href="javascript:void(0)" class="link h6">進擊的巨人</a></li>
                                <li><a href="javascript:void(0)" class="link h6">咒術迴戰</a></li>
                                <li><a href="javascript:void(0)" class="link h6">我的英雄學院</a></li>
                                <li><a href="javascript:void(0)" class="link h6">數碼寶貝</a></li>
                                <li><a href="javascript:void(0)" class="link h6">寶可夢</a></li>
                                <li><a href="javascript:void(0)" class="link h6">鬼滅之刃</a></li>
                                <li><a href="javascript:void(0)" class="link h6">迪士尼</a></li>
                                <li><a href="javascript:void(0)" class="link h6">哥吉拉</a></li>
                                <li><a href="javascript:void(0)" class="link h6">火影忍者</a></li>
                                <li><a href="javascript:void(0)" class="link h6">Holo live</a></li>
                                <li><a href="javascript:void(0)" class="link h6">jojo的奇幻冒險</a></li>
                                <li><a href="javascript:void(0)" class="link h6">新世紀福音戰士</a></li>
                                <li><a href="javascript:void(0)" class="link h6">hunter x hunter</a></li>
                                <li><a href="javascript:void(0)" class="link h6">獵人</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 mb_30 mb-sm-0">
                    <div class="">
                        <p class="footer-heading">快速連結</p>
                        <div class="tf-collapse-content">
                            <ul class="footer-menu-list Information">
                                <li><a href="javascript:void(0)" class="link h6">抽一番賞</a></li>
                                <li><a href="javascript:void(0)" class="link h6">直購公仔</a></li>
                                <li><a href="./member-area.html" class="link h6">會員專區</a></li>
                                <li><a href="javascript:void(0)" class="link h6">即時榜單</a></li>
                                <li><a href="./news.html" class="link h6">最新消息</a></li>
                                <li><a href="./faq.html" class="link h6">問與答</a></li>
                                <li><a href="./about.html" class="link h6">關於小皮球</a></li>
                                <li><a href="./contact.html" class="link h6">聯絡我們</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="inner-bottom">
                <ul class="list-hor">
                    <li>
                        <a href="faq.html" class="h6 link text-main">Help & FAQs</a>
                    </li>
                    <li class="br-line type-vertical"></li>
                    <li>
                        <a href="faq.html" class="h6 link text-main">Factory</a>
                    </li>
                    <li class="br-line type-vertical"></li>
                    <li>
                        <a href="faq.html" class="h6 link text-main">即時榜單</a>
                    </li>
                </ul>
                <div class="list-hor flex-wrap">
                    <span class="h6">Payment:</span>
                    <ul class="payment-method-list">
                        <li><img src="images/payment/visa-2.svg" alt="Payment"></li>
                        <li><img src="images/payment/master-card-2.svg" alt="Payment"></li>
                        <li><img src="images/payment/amex-2.svg" alt="Payment"></li>
                        <li><img src="images/payment/discover-2.svg" alt="Payment"></li>
                        <li><img src="images/payment/paypal-2.svg" alt="Payment"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>